
<%- include('head'); %>
<h1>Hello <%= name %> </h1>
<div class="container-fluid">

    <a href="/viewtktsAdmins?uid=<%= id %>"> <button class="btn btn-warning">View complaints</button></a>
</div>